<!-- ----------------------footer section------------------ -->
<div class="foota hide">
  <div class="ui container">
    <div class="ui equal width stackable grid">
      <div class="column hide">
        <img src="../images/logo-a.png" alt="">
        <p>Seldom House,Murang'a Road, Ground Floor, Rm 003.Nairobi </p>
          <!-- <p>Ground Floor, Rm 003.Nairobi </p> -->
      </div>
      <div class="column hide">
        <ul><h4>FOREENS</h4>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="column hide">
        <ul><h4><a href="/services">SERVICES</a></h4>
          <li><a href="/services">Pool Management</a></li>
          <li><a href="/services">Maintenance</a></li>
          <li><a href="/services">Pool Construction</a></li>
          <li><a href="/services">Chemicals & Accessories</a></li>
        </ul>
      </div>
      <div class="column hide">
        <ul id="social"><h4>FOLLOW</h4>
          <li><i class="twitter icon"></i></li>
          <li><i class="facebook f  icon"></i></li>
          <li><i class="icon google plus"></i></li>
          <li><i class="icon linkedin"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------Mobile Footer---------------------- -->
<div class="futa">
  <div class="ui container">
    <div class="ui equal width stackable grid">
      <div class="column">
        <img src="../images/logo-a.png" alt="">
        <p>Seldom House,Murang'a Road, Ground Floor, Rm 003.Nairobi </p>
          <!-- <p>Ground Floor, Rm 003.Nairobi </p> -->
      </div>
      <div class="column">
        <div class="p1">
          <ul><h4>FOREENS</h4>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="p1">
          <ul><h4><a href="/services">SERVICES</a></h4>
            <li><a href="/services">Pool Management</a></li>
            <li><a href="/services">Maintenance</a></li>
            <li><a href="/services">Pool Construction</a></li>
            <li><a href="/services">Chemicals & Accessories</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <ul id="social"><h4>FOLLOW</h4>
          <li><i class="twitter icon"></i></li>
          <li><i class="facebook f  icon"></i></li>
          <li><i class="icon google plus"></i></li>
          <li><i class="icon linkedin"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>

