<div class="main-nav">
  <div class="ui five item menu">
    <a href="/" class="item"><span class="hide">OUR &nbsp</span> SERVICES</a>
    <a href="/about" class="item">ABOUT US</a>
    <a href="/" class="item"><span class="hide">OUR &nbsp</span>  PROJECTS</a>
    <a href="/" class="item">SHOP</a>
    <a href="/" class="item">CONTACT <span class="hide"> &nbspUS</span></a>
  </div>
</div>