<% include partials/header %>

<div class="about-wrapper">
    <div id="home-banner">
         <div class="ui container">
            <img src="../images/logo-b.png" alt="#">
          </div>
    </div>
    <% include partials/navigation %>
    
<!----------------------about-us Content------------------------>
<div id="content-wrapper">
    <div class="ui container">
        <div class="ui relaxed stackable grid">
            <div class="ten wide column">
                <h2>About Foreens Water & Energy</h2>
                <p>Foreens Ltd is one of Kenya’s largest swimming pool maintenance and repair
                company, and we seek to be your trusted pool professionals. We are committed
                to having a strong dedication to our customers, which has helped us establish
                a reputation that is second to none in the swimming pool industry. Our Principal 
                has been in the management of similar large business having worked with Davis & 
                Shirtliff Ltd the region’s leading Water Company on a regional management role
                for over 17 years. Our success is firmly rooted in the belief that providing 
                exceptional service is our number one priority, no matter the circumstance.</p>
                <p>Each week, our trained professionals provide residential and commercial properties
                with swimming pool solutions throughout the country. Whether it is a weekly pool cleaning
                for a home owner, a daily chemical check for a commercial property, or a complete 
                renovation of an existing swimming pool, each of our engineers has the training, 
                the tools, and the support to handle any need that may arise.</p>
                <p>As we have expanded, so have the services offered and vendors utilized by our locations.
                We work directly with Kenya’s and the world’s leading pool equipment manufactures and have 
                tremendous relationships with them all. This further enhances our ability to provide exceptional
                product selection and pricing, while also providing the customer with the peace of mind knowing
                that the job will be backed by a reputation second to none.</p>
                <p>All of us at Foreens Ltd would like to thank you for your interest in our company. We welcome
                you to explore our services and learn who we are and what we do. If you are in need of pool 
                services, chemicals, pool maintenance or training please use the contacts below to get in touch.</p>
            </div>
            <div class="six wide news column">
                <h2>News & Insight</h2>
                <div class="news-wrapper">
                    <h3><a>What Chemicals are Needed for Pools?</a></h3>
                    <p class="divider"></p>
                    <h3><a href="https://www.pinterest.com/pin/328340629067347676/">Pool Care Cheat Sheet</a></h3>
                    <p class="divider"></p>
                    <h3><a href="http://www.architecturendesign.net/25-fabulous-small-backyard-designs-with-swimming-pool/">25+ Fabulous Small Backyard Designs with Swimming Pool</a></h3>
                    <p class="divider"></p>
                    <h3><a href="http://home.howstuffworks.com/swimming-pool2.htm">How Swimming Pools Work</a></h3>
                    <p class="divider"></p>
                    <div class="ftd">
                        <h5>Featured Project</h5>
                        <img src="../images/featured.jpg"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------------------footer------------------------------>
<% include partials/footer-section %>

    
    
</div>
<% include partials/footer %>