
<% include partials/header %>

<div id="home-banner">
  <div class="ui container">
    <img src="../images/logo-b.png" alt="#">
  </div>
  <!-- <h1>Foreens Water and Energy</h1> -->
</div>

<% include partials/navigation %>

<!-- ----------------------features section------------------ -->
<div class="ui container servs">
  <div class="ui equal width stackable grid">
    <div class="column">
      <div id="feature1">
        <div class="holder">
          <h2>Pool Maintenance</h2>
          <p>Full pool maintenance services</p>
        </div>

      </div>
    </div>
    <div class="column">
      <div id="feature2" >
        <div class="holder">
          <h2>Pool Construction</h2>
          <p>Pool construction, repair, renovation, etc.</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div id="feature3">
        <div class="holder">
          <h2>Pool Management</h2>
          <p>Lifeguard support, training, and more.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------shop section------------------ -->
<div class="ui shop container">
  <h1 class="heading">Shop-Pool Chemicals and Accessories</h1>
  <div class="ui equal width stackable grid">
    <div class="column">
      <div class="ui segment">
        <img src="../images/itm-01.jpg" alt="#">
        <p>Pool Accessories</p>
      </div>

    </div>
    <div class="column">
      <div class="ui segment">
        <img src="../images/itm-02.jpeg" alt="#">
        <p>Pool Chemicals</p>
      </div>

    </div>
    <div class="column featured">
      <h3>How to keep your pool clean in three easy steps</h3>
      <p class="divider"></p>
      <h3>Treating your pool- The ultimate Do's and Don'ts</h3>
      <p class="divider"></p>
      <h3>Best swimming pools in Nairobi. See why they are among the top. How to beat them at their game</h3>
      <!-- <p class="divider"></p> -->
    </div>

  </div>
</div>

<!-- ----------------------location section------------------ -->

<div class="ui container">
  <div class="ui relaxed equal width location stackable grid">
    <div class="column">
      <h3>Visit Us</h3>
      <p>We are located in Pangani along Murang'a Road (off Thika Super Highway). Just a few yards from Guru Nanak Hospital.
      Our Nairobi Branch provides a full range of pool services surrounding your commercial or domestic swimming pool.
      Our pool service menu includes lifeguard staff management, pool maintenance and pool construction.
      Pool repairs and renovations are also a pool service specialty. In addition we also sell pool treatment chemicals, filtration pumps,
      generators, heaters and other related amenities</p>

      <p>All of our locations share a dedication to their customers, safety and community. Learn more about each pool
        service location by looking at our territory map.</p>
        <a class="ui primary button" href="https://www.google.co.ke/maps/place/Guru+Nanak+Hospital/@-1.2695704,36.8301559,17z/data=!3m1!4b1!4m5!3m4!1s0x182f16dbb22d4f33:0x55def79dee425e48!8m2!3d-1.2695758!4d36.8323446?hl=en" target="_blank">Find our Location</a>
    </div>
    <div class="column">
      <h3>See our Location</h3>
      <div class="segment">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14631.098697672976!2d36.827446020274415!3d-1.274201459487934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f16da3af970fb%3A0x6b13f1ed4270a2e2!2sSeldom+Salon+%26+Kinyozi!5e0!3m2!1sen!2ske!4v1484225323764" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</div>

<% include partials/footer-section %>




<% include partials/footer %>
